html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #626567;
  background-color: #fff;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}
p {
  font-weight: 400;
  line-height: 1.6;
  color: inherit;
}
p.small {
  font-size: 75%;
}
a {
  color: #7fa6c0;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #7f99aa;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
img.full-width {
  width: 100%;
}
img.centered {
  margin: auto;
}
.figure {
  display: block;
}
.quote {
  position: relative;
  padding: 10px 1.25em;
  border-left: none;
  color: #626567;
  font-size: 15px;
  line-height: 1.5;
}
.quote::before {
  content: "\f10d";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.25em;
  line-height: 1;
  position: absolute;
  top: 0.25em;
  left: 0;
  color: #eee;
  z-index: -1;
}
.quote cite {
  display: block;
  font-style: normal;
  font-weight: bolder;
  margin-top: 12px;
}
.bold {
  font-weight: bold;
}
.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
/* Titles */
.title-group {
  position: relative;
  margin: 2em 0;
  z-index: 1;  
}
@media (min-width: 480px) {
  .title-group {
    margin: 2em 0 4em;
  }
}
.title {
  font-weight: bold;
  position: relative;
  margin-bottom: 16px;
}
.section-title {
  font-weight: bold;
  position: relative;
  margin-bottom: 21px;
  counter-increment: my-counter;
}
.section-title::before {
  content: counter(my-counter, decimal-leading-zero);
  display: block;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 80px;
  font-size: 330%;
  font-weight: bold;
  color: #F2F3F4;
  z-index: -1;
}
.section-title::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #d98880;
}
.section-title.left {
  text-align: left;
}
.section-title.left::after {
  left: 2px;
  right: auto;
}
.section-title.right {
  text-align: right;
}
.section-title.right::after {
  left: auto;
  right: 2px;
}
.section-title.centered::after {
  margin: auto;
}
.title,
.section-title {
  color: #4a4c4d;
}
.title.inverse,
.section-title.inverse {
  color: inherit;
}
.bigtitle {
  font-weight: 800;
}
@media (min-width: 768px) {
  .bigtitle {
    font-size: 325%;
  }
}
/* Flexbox */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex.flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.flex.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.flex.flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.flex.flex-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex.flex-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex.flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex.flex-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.flex.flex-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media (max-width: 767px) {
  .flex > .container {
    width: 100%;
  }
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn {
  font-family: "Lato", sans-serif;
  padding: 6px 16px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn.rounded {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
}
/* Button Black */
.btn-black {
  color: #fff;
  background-color: #3d3935;
  border-color: #3d3935;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
/* Button Badge / Get App */
.btn-badge {
  text-align: left;
  font-size: 0.875em;
  line-height: 1.1;
  min-height: 46px;
  margin-bottom: 0.5em;
  width: 160px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-badge .icon {
  float: left;
  font-size: 2.25em;
  line-height: 1.1;
  margin-right: 0.25em;
}
.btn-badge span {
  display: block;
  font-size: 1.325em;
  letter-spacing: 1px;
}
/* Buttons pair */
.btn-duo .btn {
  margin: 6px;
}
/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -0.875em -0.5em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cards > .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.875em 0.5em;
  float: none;
}
.cards ~ .cards {
  margin-top: 0.875em;
}
.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 272px;
  min-height: 0px;
  margin: 0.875em 0.5em;
  background: #ffffff;
  padding: 0em;
  float: none;
  text-align: left;
  border: none;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  z-index: 1;
}
.card:hover {
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card[class*="col-"] {
  padding: 0;
}
.card .card-media {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
}
.card .card-media img {
  opacity: 0.9;
}
.card .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  border-radius: 0em;
}
.card .card-content:::after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.card .card-footer {
  max-width: 100%;
  min-height: 0em !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: static;
  width: auto;
  margin: 0;
  padding: 0.75em 1em;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
/* Highlighting
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-selection {
  background-color: rgba(33, 47, 60, 0.8);
  color: #ffffff;
}
::-moz-selection {
  background-color: rgba(33, 47, 60, 0.8);
  color: #ffffff;
}
::selection {
  background-color: rgba(33, 47, 60, 0.8);
  color: #ffffff;
}
/* Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #fff;
}
.no-js .preloader {
  display: none;
}
.wrapper {
  display: block;
  margin: auto;
}
.loader {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: #606060;
}
.loader,
.loader:before,
.loader:after {
  -webkit-animation: 1.15s infinite ease-in-out;
  animation: 1.15s infinite ease-in-out;
}
.loader:before,
.loader:after {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.loader {
  -webkit-animation-name: loader;
  animation-name: loader;
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
/* Social List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
}
.social-list li:last-child {
  margin-right: 0;
}
.social-list li > a {
  display: block;
  color: inherit;
}
/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-burger {
  background-color: #fff;
  border-color: #eee;
  color: #4a4c4d;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}
.navbar-burger .navbar-header {
  width: 100%;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  padding: 16px;
  color: #4a4c4d;
}
.navbar-brand:hover {
  color: #727374;
}
.burger-menu {
  float: right;
  font-size: 1.5em;
  line-height: 2.5;
  color: #4a4c4d;
  cursor: pointer;
  background: transparent;
  border: none;
}
.is-transparent.navbar-burger {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  box-shadow: none;
}
.is-transparent.navbar-burger .navbar-brand,
.is-transparent.navbar-burger .burger-menu {
  color: inherit;
}
/* Overlay Menu */
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  display: none;
}
.close-menu {
  position: absolute;
  top: 1em;
  right: 1em;
}
.overlay-menu {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 2em 0;
  background-color: #fff;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.overlay-menu.menu-visible {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.overlay-menu .navigation {
  display: table;
  margin: auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
.overlay-menu .navigation li {
  font-family: "Dosis", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #4a4c4d;
}
.overlay-menu .navigation li > a {
  color: inherit;
}
@media (min-width: 480px) {
  .overlay-menu .navigation li {
    font-size: 1.875em;
  }
}
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 2em 0;
  text-align: left;
  color: #fff;
  background: none repeat scroll center center #ffffff;
}
.header.hero {
  height: 100%;
  background: url(../img/placeholder-big.jpg) no-repeat scroll center center #e5e7e9;
  background-size: cover;
}
.header.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none no-repeat scroll 0 0 rgba(64, 64, 64, 0.15);
}
.site-header {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 8em 0 1em;
  color: #fff;
  background: none repeat scroll center center #85929e;
}
@media (min-width: 768px) {
  .header {
    height: 100%;
  }
}
/* Slider Bg and Video Bg */
.vegas-container .header,
.vegas-container .hero {
  background: none;
}
.vegas-timer {
  top: auto;
  bottom: 0px;
  height: 4px;
}
.vegas-timer-progress {
  width: 0px;
  height: 100%;
  background: #D98880 none repeat scroll 0% 0%;
  transition: width 0s ease-out 0s;
}
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  counter-reset: my-counter;
}
.section {
  position: relative;
  padding: 6em 0;
  background: #fff none repeat scroll 0 0;
  z-index: 1;
  border-bottom: 1px solid #f4f6f6;
}
.section.no-padding {
  padding: 0;
}
/* Clients
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slick-slider.clients-logo {
  margin-bottom: 0;
}
.clients {
  -webkit-box-shadow: 0 1px 40px -24px #dddddd;
  -moz-box-shadow: 0 1px 40px -24px #dddddd;
  -o-box-shadow: 0 1px 40px -24px #dddddd;
  box-shadow: 0 1px 40px -24px #dddddd;
  z-index: 2;
}
/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.feature {
  position: relative;
  display: block;
  padding: 3em 1em;
  background: #fff none repeat scroll 0 0;
  z-index: 1;
}
.feature .icon {
  font-size: 6em;
  color: #4d5656;
}
/* Counters
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.counters {
  background: url(../img/placeholder-lg.jpg) no-repeat scroll center center #f2f2f2;
  background-size: cover;
  color: #fff;
}
.numbers {
  position: relative;
  color: inherit;
  text-align: center;
  padding: 1em 0;
}
.number {
  display: block;
  min-height: 1em;
  font-family: "Dosis", sans-serif;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
}
.number-info {
  display: block;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: inherit;
}
/* Features / Left Image / Right Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.features {
  position: relative;
}
.features .figure img {
  max-height: 600px;
  max-height: 85vh;
  margin: auto;
}
@media (min-width: 992px) {
  .features .flex .col-md-6 {
    width: 49.9%;
  }
  .boxes-list li:first-child {
    margin-top: 3em;
  }
}
/* Features / Mockup
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.boxes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.boxes-list li {
  margin: 0;
  padding: 0.25em 0;
}
.iconbox {
  display: block;
  margin: 1em 0 2em;
  padding-bottom: 1em;
  text-align: left;
}
.iconbox .icon {
  clear: both;
  color: #4d5656;
  float: left;
  font-size: 3.75em;
  line-height: 1;
  margin-left: 0;
  margin-right: 0.5em;
  width: 52px;
}
.iconbox .box {
  display: block;
  overflow: hidden;
}
.iconbox.centered {
  text-align: center;
}
.iconbox.centered .icon {
  display: block;
  float: none;
  margin: 0 auto 0.25em;
}
.boxes-list.mirror .iconbox {
  text-align: right;
}
.boxes-list.mirror .iconbox .icon {
  float: right;
  margin-left: 0.5em;
  margin-right: 0;
}
/* Video Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.video-section {
  padding: 8em 0;
  color: #fff;
  background: url(../img/placeholder-lg.jpg) no-repeat scroll center center #f2f3f4;
  background-size: cover;
}
.video-section::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
  opacity: 0.5;
}
.watch-video {
  display: table;
  margin: 2em auto 0;
  color: inherit;
}
.watch-video:focus {
  color: inherit;
}
.watch-video .icon {
  font-size: 3em;
  line-height: 1;
  padding: 7px 6px;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  border: 1px solid #fff;
  -webkit-transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.watch-video .icon-controller-play::before {
  margin-left: 4px;
}
.watch-video:hover .icon {
  color: #333;
  background-color: #fff;
}
/* Gallery / Screens
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scene-container {
  display: block;
  width: 100%;
  height: 100%;
}
.scene-container .scene {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.scene-container .layer {
  width: 100%;
  height: 100%;
}
.galery li img {
  margin: auto;
}
/* Pricing Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pricing {
  background: #f4f6f6 none repeat scroll 0 0;
}
.pricing .section-title::before {
  color: #fdfefe;
}
.pricing-table {
  list-style: none;
  padding: 0 0 3em;
  margin: 0.9375em auto;
  background: none repeat scroll center center #fff;
  text-align: center;
  color: #60697d;
  border: none;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}
.pricing-table:hover {
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.pricing-table.recommended {
  color: #fff;
  background: #73787d none repeat scroll 0 0;
}
.pricing-table.recommended .title {
  background: #656a72 none repeat scroll 0 0;
  color: inherit;
}
.pricing-table .title {
  font-size: 1.25em;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #F8F9F9 none repeat scroll 0 0;
  padding: 2em 0 1em;
  color: #4d5656;
}
.pricing-table .title .icon {
  display: block;
  font-size: 4em;
  margin: 16px auto;
}
.pricing-table .price {
  font-size: 2em;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  margin: 0.5em 0;
}
.pricing-table .description {
  margin-bottom: 0.5em;
}
.pricing-table .cta-button {
  margin-top: 0;
}
.pricing-table .cta-button .btn {
  padding: 6px 24px;
}
@media (min-width: 768px) {
  
}
/* Testimonials
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.testimonials {
  position: relative;
  width: 100%;
  height: auto;
  background: #eaf2f8 none repeat scroll 0 0;
  background: url(../img/placeholder-big.jpg) no-repeat scroll center center #eaf2f8;
  background-size: cover;
}
.testimonials::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7fb3d5;
  opacity: 0.1;
}
.testimonials .section-title::before {
  color: #fdfefe;
}
.avatar {
  width: 6em;
  height: 6em;
  margin: auto;
  overflow: hidden;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.avatar-dots {
  position: relative;
  margin: 0;
  padding: 0;
}
.avatar-dots li {
  position: relative;
  display: inline-block;
  width: 5em;
  height: auto;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.avatar-dots li.slick-active {
  opacity: 1;
  width: 5.5em;
}
.avatar-dots li.slick-active .avatar {
  width: 5.5em;
}
.avatar-dots li.slick-active .avatar img {
  opacity: 1;
}
.avatar-dots .avatar {
  width: 100%;
  height: auto;
  background-color: #f4f6f6;
}
.avatar-dots .avatar img {
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
.dot-trigger {
  display: none;
}
/* Call To Action
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.badge-buttons {
  margin: 2em 0;
}
@media (min-width: 768px) {
  .badge-buttons .btn-badge {
    margin-right: 0.625em;
  }
}
.get-started {
  background-color: #eaf2f8;
}
.gallery {
  display: none;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  position: relative;
  width: 100%;
  height: auto;
  color: #eeeeee;
  background-color: #75706D;
  background-color: #5B5855;
  padding: 6em 0 4em;
  text-align: center;
}
.footer a {
  color: inherit;
}
.footer.is-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}
.foter-navbar {
  display: block;
  padding: 2em 0;
}
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav li {
  display: inline-block;
  margin-left: 16px;
}
.footer-nav li:first-child {
  margin-left: 0;
}
.copyright {
  font-size: 12px;
  color: #909497;
}
@media (min-width: 768px) {
  .footer.is-fixed {
    position: relative;
  }
}
/* Collapse
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.panel {
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 1px;
}
.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #DDD;
  padding: 0;
}
.panel-title {
  font-family: "Inconsolata", sans-serif;
}
.panel-heading .panel-title a[data-toggle="collapse"] {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  background-color: #d4e6f1;
}
.panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.panel-heading .panel-title a[data-toggle="collapse"]:hover {
  background-color: #c1dbeb;
}
.panel-heading .panel-title a[data-toggle="collapse"]:focus {
  outline: none;
  text-decoration: none;
}
.panel-heading .panel-title a[data-toggle="collapse"].collapsed {
  background-color: #F2F3F4;
}
.panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}
.panel-heading .panel-title a[data-toggle="collapse"].collapsed:hover {
  background-color: #e4e6e8;
}
.panel-body {
  padding: 15px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 1px 1px 0 0;
  color: #a6acaf;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #DDD transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  outline: none;
  text-decoration: none;
}
.tab-content > .tab-pane {
  padding: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #DDD #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
/* Progress Bars
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.progress-wrap {
  position: relative;
}
.progress-label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.325em;
}
.progress {
  height: 12px;
  margin-bottom: 18px;
  overflow: visible;
  background-color: #e5e7e9;
  border-radius: 0;
  box-shadow: none;
}
.progress-bar {
  position: relative;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  box-shadow: none;
}
.progress-bar .bar-value {
  position: absolute;
  right: 0px;
  top: -25px;
  padding: 4px 0px;
  color: #626567;
  line-height: 12px;
  font-size: 1.125em;
  opacity: 0;
  display: block;
}
.progress-bar .bar-value::after {
  content: "%";
  display: inline;
  margin-left: 1px;
}
.rising-bar {
  width: 0;
  -webkit-transition: width 2s ease-in;
  -moz-transition: width 2s ease-in;
  -o-transition: width 2s ease-in;
  transition: width 2s ease-in;
}
/* Magnific Popup
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mfp-bg {
  opacity: 0.8;
  background: #626567 none repeat scroll 0% 0%;
}
.mfp-container .icon-chevron-thin-left,
.mfp-container .icon-chevron-thin-right {
  position: absolute;
  top: 0;
  bottom: 0;
  border: medium none;
  height: 3em;
  margin: auto 1em;
  background: transparent none repeat scroll 0% 0%;
  color: #FFF;
  font-size: 2em;
  font-weight: 900;
}
.mfp-container .icon-chevron-thin-left {
  left: 0;
}
.mfp-container .icon-chevron-thin-right {
  right: 0;
}
/* Page: About / about.html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about .site-header {
  background: url(../img/placeholder-lg.jpg) no-repeat scroll center center #85929e;
  background-size: cover;
}
.about .site-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none no-repeat scroll 0 0 rgba(64, 64, 64, 0.15);
}
.about .counters {
  background: url(../img/placeholder-lg.jpg) no-repeat scroll center center #f2f3f4;
}
.about .counters::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none no-repeat scroll 0 0 rgba(64, 64, 64, 0.15);
}
.about .twitter-carousel {
  background: none no-repeat scroll center 0 #f2f3f4;
}
.card-media .figure {
  position: relative;
}
.card-media .figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 179, 213, 0.75);
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
.card-media .figure .overlay .social-list {
  font-size: 1.25em;
}
.card:hover .overlay {
  opacity: 1;
}
.experiences {
  background-color: #f2f3f4;
}
.experiences .section-title::before {
  color: #fdfefe;
}
/* Page: Contact / contact.html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact-us .site-header {
  background: url(../img/placeholder-lg.jpg) no-repeat scroll center center #85929e;
  background-size: cover;
}
.contact-us .site-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none no-repeat scroll 0 0 rgba(64, 64, 64, 0.15);
}
.contact {
  background-color: #F2F3F4;
  text-align: center;
}
.contact .section-title::before {
  color: #fdfefe;
}
.mymap {
  width: 100%;
  height: 22em;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}
.mymap img {
  max-width: none;
}
.address {
  background-color: #fff;
}
.vcard {
  list-style: none;
  padding: 1em 0;
}
.vcard li {
  margin: 0.625em 0;
  padding-bottom: 0.625em;
}
.vcard .icon {
  float: none;
  font-size: 1.725em;
  line-height: 1;
  width: 1em;
  color: #515a5a;
}
.vcard .vcard-item {
  display: block;
  overflow: hidden;
  font-size: 1.125em;
  padding-top: 2px;
}
@media (min-width: 768px) {
  .address {
    text-align: left;
  }
  .vcard .icon {
    float: left;
    margin-right: 1em;
    width: 1em;
  }
}
.contact-form {
  position: relative;
  background-color: #fff;
  padding: 4em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.contact-form .form-control {
  text-align: center;
  margin-top: 1em;
}
@media (min-width: 600px) {
  .contact-form {
    padding: 4em 6em;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #626567;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d6;
  border-radius: 1px;
  box-shadow: none;
}
.form-control:focus {
  border-color: #838379;
  outline: 0px none;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 3px rgba(217, 217, 214, 0.3);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 3px rgba(217, 217, 214, 0.3);
}
.form-control::-moz-placeholder {
  color: #bdc3c7;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #bdc3c7;
}
.form-control::-webkit-input-placeholder {
  color: #bdc3c7;
}
/* Page: Comming Soon / commingsoon.html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.coming-soon .header {
  background: none no-repeat scroll center center #ffffff;
  text-align: center;
  color: #626567;
  border: 6px solid #f2f3f4;
}
.timer {
  display: block;
  margin: 1em auto 1em;
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  height: 122px;
  color: #909497;
}
.timer span {
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  color: #7fb3d5;
}
.svg-container {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 3em 1em;
}
.svg-container svg {
  display: block;
  overflow: hidden;
  max-width: 100%;
}
.modal-form {
  background: #FFF none repeat scroll 0 0;
  padding: 3em;
  text-align: center;
  max-width: 350px;
  margin: 40px auto;
  position: relative;
}
.modal-form .subscription-form {
  margin: 2em 0 1.5em;
}
@media (min-width: 992px) {
  .coming-soon .header {
    text-align: left;
  }
}